{% extends "base.html" %}

{% block content %}

    <div class="page-content">
        <h1 class="Pedido">Adicionar Novo Pedido</h1>
        <form method="POST" class="pedido-form-container" action="/api/orders" enctype="multipart/form-data">
            
            <div class="form-field">
                <label for="created_date">Data de criação:</label>
                <input type="date" id="created_date" name="created_date" required class="login-input">
            </div>

            <div class="form-field">
                <label for="created_time">Hora de criação:</label>
                <input type="time" id="created_time" name="created_time" required class="login-input">
            </div>

            <div class="form-field">
                <label for="status">Status:</label>
                <select id="status" name="status" required class="login-input">
                    <option value="">Selecione um status...</option>
                    <option value="pendente">Pendente</option>
                    <option value="pronto">Pronto</option>
                    <option value="andamento">Em andamento...</option>
                    <option value="aberto">Aberto</option>
                </select>
            </div>

            <div class="form-field">
                <label for="amount">Valor:</label>
                <input type="number" step="0.01" id="amount" name="amount" required class="login-input">
            </div>

            <div class="form-field">
                <label for="client_id">Cliente:</label>
                <select id="client_id" name="client_id" required class="login-input">
                    <option value="">Carregando clientes...</option>
                </select>
            </div>

            <div class="form-actions">
                <button type="submit" class="login-btn">Adicionar</button>
            </div>
        </form>

        <button onclick="window.location.href='{{ url_for('pedidos.pedidos') }}'" class="action-btn cancel">Cancelar</button>
    </div>

    <script src="{{ url_for('static', filename='js/orders/adicionarOrders.js') }}" defer></script>

{% endblock %}
