{% extends "base.html" %}

{% block content %}
    <div class="page-content">
        <div class="header-container">
            <h1>Clientes</h1>
            <button onclick="window.location.href='{{ url_for('clientes.adicionar_cliente') }}'" class="action-btn add">Adicionar Novo Cliente</button>
        </div>        

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>Ativo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="clientsTable">
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/clientes/clientes.js') }}" defer></script>
{% endblock %}